ul
{
    list-style-type: "→ " ;
}

li
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenu
{
    padding: 20px;
}

figure
{
    float: right;
    text-align: center;
}

figcaption
{
    font-size: 11px;
    padding-top: 10px;
    padding-right: 18px;
}

#gif_jupu
{
    width: 500px;
    padding-right: 20px;
}