.contenu
{
    padding: 20px;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    border: 1px solid black;
    background-color: white;
}

th
{
    background-color: darkgray;
}

td.parametres
{
    width: 20px;
    text-align: center;
    width: 10%;
}

td.instance
{
    background-clip: padding-box;
}

.instance table
{
    table-layout: fixed;
    border-collapse: collapse;
    width: 200px;
    height: 200px;
    margin: auto;
}

.instance table td
{
    position: relative;
    width: 20%;
    padding-bottom: 20%;
    overflow: hidden;
    background-clip: padding-box;
}

.instance table .content
{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

.instance table .content .table
{
    display: table;
    width: 100%;
    height: 100%;
}

.instance table .content .table .cell
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

td.jeton
{
    background-color: lightcoral;
}

td.solution, td.score
{
    padding: 12px;
}