.contenu
{
    display: grid;
    grid-template-columns: 1fr 17em;
    grid-template-rows: 50px 1fr;
    padding-left: 30px;
}

.controle
{
    grid-column: 2;
    grid-row: 1/3;
    box-shadow: -5px 0 5px gray;
    padding-left: 10px;
}

h3
{
    grid-column: 1;
    grid-row: 1;
}

.contenu table
{
    grid-column: 1;
    grid-row: 2;
    border-collapse: collapse;
    background-color: white;
    user-select: none;
    margin-bottom: 20px;
    margin-right: 20px;
}
.contenu td
{
    border: 1px solid black;
    text-align: center;
}

input[type="number"]
{
    width: 5em;
}