@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&display=swap');

body
{
    background-color:rgb(199, 199, 199);
    margin: 0%;
    padding: 0%;
}

h1
{
    text-align: center;
    font-family: 'Bungee', cursive;
    color: white;
    vertical-align: middle;
    background-color: rgb(70, 70, 230);
    padding: 20px;
    box-shadow: 0 10px 10px gray;
    user-select: none;
}